body {
  margin: 0;

  background-color: white;

  font-family: "Headland One", "Habibi", arial;
  font-size: 1.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

#story {
  margin-top: 20%;

  font-weight: normal;
  text-align: center;

  color: white;

  cursor: e-resize;

  &.me {
    font-weight: bold;

    .who {
      visibility: hidden;
    }
  }

  &.narrator {
    font-style: italic;
  }

  .who {
    margin-bottom: 1.5em;

    font-style: italic;
    font-size: 0.75em;

    opacity: 0.5;
  }
}