/**
 * VARIABLES
 */

@radius: 2px;


/**
 * DEFINITIONS
 */

body {
  margin: 0;

  background-color: white;

  font-family: "Headland One", "Habibi", arial;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;

  -webkit-transition: background-color 2s;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

#story {
  position: relative;
  margin: 0;
  margin-top: 100px;
  min-height: 200px;

  font-weight: normal;
  text-align: right;

  color: white;

  cursor: pointer;
  z-index: 10;

  &.me {
    text-align: left;

    .who {
      visibility: hidden;
    }
  }

  &.narrator {
    text-align: center;
    font-style: italic;

    opacity: 0.6;
  }

  &.last {
    cursor: default;
  }

  .who {
    margin-bottom: 1.5em;

    font-style: italic;
    font-size: 0.75em;

    opacity: 0.5;
  }

  blockquote {
    margin: 0;
  }
}

#illustration {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin: 0;

  text-align: center;
  font-size: 8em;

  opacity: 0.2;
  z-index: 1;

  .content {
    position: relative;
    left: -50%;
  }
}

#action {
  text-align: center;

  a {
    display: inline-block;
    position: relative;
    top: -25px;
    padding: 0.5em 1em;

    font-family: "Fjalla One";
    font-size: 0.75em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;

    background-color: #fff;

    border-radius: @radius;
    border-bottom: 2px solid #bbb;
    opacity: 0.75;
    z-index: 20;

    &:hover {
      opacity: 0.95;
    }

    &:active {
      top: -24px;
      border-bottom: 1px solid #bbb;
    }
  }
}